header {
    margin: 0 6em;
}

header nav {
    display: flex;
}

nav ul {
    width: 75%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    align-items: center;

}

li a {
    text-decoration: none;
    font-size: .9em;
    color: #303030;
    font-weight: 500;
}

.logo {
    width: 30%;
    display: flex;
    align-items: center;
}

.logo a {
    text-decoration: none;
    color: #F8396F;
    font-weight: 700;
    font-size: 1.3em;
    letter-spacing: 1px;
}

button {
    color: #fff;
    padding: .75em 1em;
    font-weight: 500;
    border-radius: .25em;
    background-color: #3a8bce;
    cursor: pointer;
    border: 0;
    font-size: .9em;
    text-decoration: none;
}

.links {
    display: flex;
    width: 70%;
}