@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700,900&display=swap');


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  max-width: 750px;
  margin: auto;
  margin-top: 5%;
}

h2 {
  font-weight: 400;
}

.datatable {
  margin: 5% 0;
  width: 100%;
  text-align: left;
  border-spacing: 0;
  border-collapse: collapse;
}

.datatable th {
  padding: .9rem;
  border: 1px solid #dbdbdb;
  border-width: 0 0 1px;
}

.datatable td {
  padding: .9rem;
  border: 1px solid #dbdbdb;
  border-width: 0 0 1px;
}

.datatable tr {
  border-bottom: 1px solid lightslategray
}

.datatable a {
  color: #3273dc;
  cursor: pointer;
  text-decoration: none;
}

.radioButtons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.radioButtons input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

.radioButtons label {
  padding: 30px;
  border: 1px solid lightsteelblue;
  border-radius: 4px;
  margin-top: 2%; 
}

.radioButtons input[type="radio"]:checked + label {
  /* background-color:rgb(73, 73, 73); */
  /* border-color: rgb(35, 47, 78); */
  color: #5384b6;
  background-color: #d3e6f781;

}

.adddaydate {
  height: 1.4em;
  padding: 6px 0 7px;
  margin-top: 15px;
}

.adddaydatediv {
  border-bottom: 1px solid rgba(0, 0, 0, 0.42);
}

fieldset {
  border: 0;
}

legend { 
  display: none;
}

.adddayform {
  margin-top: 15px;
}

.adddayform input {
  box-shadow: inset 0 0.0625em 0.125em rgba(10,10,10,.05);
  border-radius: 4px;
  border: 1px solid #e1e1e1;
  padding-bottom: calc(.5em - 1px);
  padding-left: calc(.75em - 1px);
  padding-right: calc(.75em - 1px);
  padding-top: calc(.5em - 1px);
  line-height: 1.5;
}

.adddayform label[for="durationHours"], .adddayform label[for="durationMinutes"] {
  margin: 0 10px;
}

.adddayform select {
  background-color: #fff;
    border-color: #dbdbdb;
    border-radius: 4px;
    line-height: 1.5;
    padding-bottom: calc(.5em - 1px);
    padding-left: calc(.75em - 1px);
    padding-right: calc(.75em - 1px);
    padding-top: calc(.5em - 1px);
    padding-right: 2.5em;
    -moz-appearance: none;
    -webkit-appearance: none;
}

.adddayform h3 {
  margin-top: 25px;
}

.adddayform button {
  margin-top: 15px;
}